{% extends 'greetings/base.html' %}
{% load banner %}

{% block meta %}
{{ block.super }}

<meta property="og:title" content="{{ h1_title }}" />
<meta property="og:description" content="{{ post.preview_text|striptags }}" />
<meta property="og:image" content="http://androidgreetings.ru{{ post.image.url }}" />

<link rel="image_src" href="http://androidgreetings.ru{{ post.image.url }}"/>

{% endblock %}

{% block h1_title %}{% endblock %}

{% block content %}
<ul class="timeline">
	<li>
      	<div class="timeline-badge primary"></div>
      	<section class="timeline-panel" itemscope itemtype="http://schema.org/Article">
        <h1 itemprop="name">{{ h1_title }}</h1>
      		<div class="row" id="blog">
      			<div class="col-md-7 col-sm-6 col-xs-12">
      				<div class="blog-content">
                <small>
                      <i class="fa fa-calendar" data-original-title="" title=""></i>{{ post.date_create|date:"d M Y f" }}
                      <i class="fa fa-user" data-original-title="" title=""></i>Admin
                </small>
      					<p itemprop="description">{% autoescape off %}{{ post.preview_text|linebreaksbr }}{% endautoescape %}</p>
      				</div>
      			</div>
      			<div class="col-md-5 col-sm-6 col-xs-12">
      				<img itemprop="image" src="{{ post.image.url }}" class="img-responsive">
      			</div>
      		</div>
      		<div class="row post-detail">
      			<div class="col-md-12 col-sm-12 col-xs-12">
      				<div class="blog-content">
      					<p>{% autoescape off %}{{ post.detail_text|linebreaksbr }}{% endautoescape %}</p>
      				</div>
      			</div>
      		</div>
      	</section>
    </li>

    <div class="post-banner">
      {% banner 'long' %}
    </div>

    {% if comments %}
      <li id="id-profile">
        <div class="timeline-badge default"><i class="fa fa-comment" data-original-title="" title=""></i></div>
        <h2 class="timeline-head">Комментарии</h2>
      </li>
    {% endif %}

    {% for comment in comments %}
      <li>
        <div class="timeline-badge primary"></div>
        <div class="timeline-panel">
        <h3>{{ comment.name }}</h3>
        <div class="hr-left"></div>
        <p>{{ comment.comment }}</p>
      </li>
    {% endfor %}

    <li>
      <div class="timeline-badge primary"></div>
      <div class="timeline-panel">
        <h2>Оставить комментарий</h2>
        <div class="hr-left"></div>
        <form method="post">
          {% csrf_token %}
          {{ form.errors }}
          {{ form.content_type }}
          {{ form.object_pk }}
          {{ form.timestamp }}
          {{ form.security_hash }}
          {{ form.honeypot }}
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input class="form-control input-lg" placeholder="Имя..." name="{{ form.name.html_name }}"> 
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <textarea class="form-control input-lg" rows="7" placeholder="Комментарий..." name="{{ form.comment.html_name }}"></textarea>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Отправить</button>
          </div>
        </form>
      </div>
  </li>

</ul>
{% endblock %}
