{% extends 'greetings/base.html' %}

{% block content %}
<ul class="timeline">
	<li>
      	<div class="timeline-badge primary"></div>
      	<div class="timeline-panel">
      		<div class="row" id="blog">
      			<div class="col-md-7 col-sm-6 col-xs-12">
      				<div class="blog-content">
                                    <small>
                                          <i class="fa fa-calendar" data-original-title="" title=""></i>{{ post.date_create|date:"d M Y f" }}
                                          <i class="fa fa-user" data-original-title="" title=""></i>Admin
                                    </small>
      					<p>{{ post.preview_text|linebreaksbr }}</p>
      				</div>
      			</div>
      			<div class="col-md-5 col-sm-6 col-xs-12">
      				<img src="{{ post.image.url }}" class="img-responsive">
      			</div>
      		</div>
      		<div class="row post-detail">
      			<div class="col-md-12 col-sm-12 col-xs-12">
      				<div class="blog-content">
      					<p>{{ post.detail_text|linebreaksbr }}</p>
      				</div>
      			</div>
      			</div>
      		</div>
      	</div>
    </li>
</ul>
{% endblock %}
