<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <meta name="description" content="{{ meta_description }}">
    <meta name="keywords" content="{{ meta_keywords }}">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top">

    <!-- start:main -->
    <div class="container" id="main">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 white">
                <div id="sidebar">
                    <div class="user">
                        <div class="text-center">
                            <img src="/static/img/user/user.jpg" class="img-circle">
                        </div>
                        <div class="user-head">
                            <a href="/" class="greetings-title">Поздравления с днем рождения</a>
                            <div class="hr-center"></div>
                            <a href="https://play.google.com/store/apps/details?id=dev.eremeev.greetings" class="play-link" target="blank">Android приложение</a>
                        </div>
                        <div class="text-center">
                            {% for c in root_cats %}
                                {% if c == root_cat %}
                                    <a type="button" class="btn btn-primary cat" href="{% url 'child_categories' c.id %}">{{c}} <i class="fa fa-angle-double-right"></i></a>
                                {% else %}
                                    <a type="button" class="btn btn-default cat" href="{% url 'child_categories' c.id %}">{{c}}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="https://play.google.com/store/apps/details?id=dev.eremeev.greetings" target="blank">
                          <img alt="Get it on Google Play"
                               src="https://developer.android.com/images/brand/ru_generic_rgb_wo_60.png" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                <div id="content">
                    <!-- start:navbar -->
                    <!-- end:navbar -->

                    <!-- start:main content -->
                    <div class="main-content">
                    <h1>{{ h1_title }}</h1>
                        {% if not greetings %}
                            <div class="row">
                                <div class="col-md-12">
                                    {% for c in child_cats %}
                                        <a type="button" class="btn btn-default subcat" href="{% url 'greetings' c.id %}">{{ c }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        {% if greetings %}
                            <ul class="timeline">
                                <!-- start:profile -->
                                {% for greeting in greetings %}
                                    <li id="profile">
                                        <div class="timeline-badge primary"></div>
                                        <div class="timeline-panel">
                                            <p>{{ greeting.text }}</p>
                                            {% if is_top %}
                                                <small><i class="fa fa-bookmark-o"></i> <a href="{% url 'greetings' greeting.category.id %}">Поздравления {{ greeting.category}}</a></small>
                                            {% endif %}
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            {% if is_paginated %}
                                <div class="row">
                                    <div class="col-md-11">
                                        <ul class="pager">
                                            {% if page_obj.has_previous  %}
                                                <li class="previos"><a href="{% url 'greetings' child_cat.id page_obj.previous_page_number %}">&larr; Предыдущие</a></li>
                                            {% else %}
                                                <li class="previos disabled"><a href="#x">&larr; Предыдущие</a></li>
                                            {% endif %}

                                            {% if page_obj.has_next %}
                                                <li><a href="{% url 'greetings' child_cat.id page_obj.next_page_number %}">Следующие &rarr;</a></li>
                                            {% else %}
                                                <li class="disabled"><a href="#x">Следующие &larr;</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                    <!-- end:main content -->
                </div>
            </div>
        </div>
    </div>
    <!-- end:main -->

    <!-- start:footer -->
    <footer>
        <div class="container">
            <div class="text-center">
                <p>Copyright &copy; 2014</p>
            </div>
        </div>
    </footer>
    <!-- end:footer -->

    <!-- start:javascript -->
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/marinka.js"></script>
    <script src="/static/js/portfolio.jquery.js"></script>
    <script src="/static/js/jquery.easing.min.js"></script>
    <script src="/static/js/scrolling-nav.js"></script>
    <script src="/static/js/jquery.scrollUp.js"></script>
    <!-- end:javascript -->

</body>
</html>