<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name='yandex-verification' content='5df1351af47f3766' />
    <meta name="description" content="{{ meta_description }}">
    <meta name="keywords" content="{{ meta_keywords }}">
    {% endblock %}
    <title>{{ title }}</title>

    {% load compress %}

    {% compress css %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/alertify.core.css">
    <link rel="stylesheet" type="text/css" href="/static/css/alertify.bootstrap.css">
    {% endcompress %}
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--3a9f6b4e--> <!--3a9f6b4e-->
</head>
<body id="page-top">

    <!-- start:main -->
    <div itemscope itemtype="http://schema.org/SoftwareApplication" class="container" id="main">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 white">
                <div id="sidebar">
                    <div class="user">
                        <div class="text-center">
                            <img itemprop="image" src="/static/img/android-greetings-logo.png">
                        </div>
                        <div class="user-head">
                            <a href="/" class="greetings-title"><span itemprop="name">Поздравления с днем рождения</span></a>
                            <div class="hr-center"></div>
                            <a itemprop="url" href="https://play.google.com/store/apps/details?id=dev.eremeev.greetings" class="play-link" target="blank">Android приложение</a>
                        </div>
                        <div class="text-center">
                            {% for c in root_cats %}
                                {% if c == root_cat %}
                                    <a type="button" class="btn btn-primary cat" href="{% url 'child_categories' c.id %}">{{c}} <i class="fa fa-angle-double-right"></i></a>
                                {% else %}
                                    <a type="button" class="btn btn-default cat" href="{% url 'child_categories' c.id %}">{{c}}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="https://play.google.com/store/apps/details?id=dev.eremeev.greetings" target="blank">
                          <img alt="Get it on Google Play"
                               src="https://developer.android.com/images/brand/ru_generic_rgb_wo_60.png" />
                        </a>
                    </div>
                    <div class="text-center admitad">
                        {% load banner %}
                        {% banner %}
                    </div>


<div class="phone">
    <div class="nexus-background">
        <img src="/static/img/nexus4.png">
    </div>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="/static/img/screenshots/fav.png" alt="Избранные поздравления">
        </div>
        <div class="item">
          <img src="/static/img/screenshots/categories.png" alt="Разделы">
        </div>
        <div class="item">
          <img src="/static/img/screenshots/select.png" alt="Выбор поздравленния">
        </div>
        <div class="item">
          <img src="/static/img/screenshots/share.png" alt="Отправить поздравление">
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</div>

<div class="text-center">
    <a href="https://play.google.com/store/apps/details?id=dev.eremeev.greetings" target="_blank">Скачать приложение</a>
</div>



                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                <div id="content">
                    <!-- start:navbar -->
                    <nav class="navbar navbar-default navbar-static-top" role="navigation">
                        <div class="navbar-header page-scroll">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        {% url 'posts_list' as posts_list_url %}
                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul class="nav navbar-nav navbar-left">
                                <li class="page-scroll{% if request.path == '/' %} active{% endif %}"><a href="/">// Главная</a></li>
                                <li class="page-scroll{% if request.path == posts_list_url %} active{% endif %}"><a href="{{ posts_list_url }}">// Статьи</a></li>
                            </ul>
                        </div>
                    </nav>
                    <!-- end:navbar -->

                    <!-- start:main content -->
                    <div class="main-content">
                        {% block h1_title %}<h1>{{ h1_title }}</h1>{% endblock %}
                        {% block content %}
                        {% endblock %}
                    </div>
                    <!-- end:main content -->
                </div>
            </div>
        </div>
    </div>
    <!-- end:main -->

    <!-- start:footer -->
    <footer>
        <div class="container">
            <div class="text-center">
                <p>Copyright &copy; 2014</p>
            </div>
        </div>
    </footer>
    <!-- end:footer -->

    {% compress js %}
    <!-- start:javascript -->
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/marinka.js"></script>
    <script src="/static/js/portfolio.jquery.js"></script>
    <script src="/static/js/jquery.scrollUp.js"></script>
    <script src="/static/js/ZeroClipboard.js"></script>
    <script src="/static/js/alertify.js"></script>
    <!-- end:javascript -->
    {% endcompress %}

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter24054052 = new Ya.Metrika({id:24054052, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/24054052" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41679854-14', 'auto');
      ga('send', 'pageview');

    </script>

</body>
</html>